{% extends "travel/index.html" %}

{% block title %}Welcome Home{%endblock %}

{% block content %}
<h1 class="text-center">Welcome to Travel Hub</h1>
<p class="tinfo">
    Karnataka offers diverse tourist interests, making the state famous for tourism. Blessed with natural abundance and
    tourist places such as heritage sites, temples, hill stations, beaches, wildlife sanctuaries, etc., Karnataka
    attracts many tourists all year round. Karnataka draws people for adventure activities such as trekking, hiking,
    rock climbing, surfing, river rafting, jungle safaris, and more.
</p>
<p class="tinfo">
    Furthermore, Karnataka is home to several UNESCO World Heritage Sites, making it popular for heritage tourism in
    India. Hampi, Badami, Pattadakkal, and Aihole are a few heritage sites among many others. The Gommatesvara statue at
    Shravanabelagola and Gol Gumbaz in Bijapur have drawn much attention from tourists in Karnataka for ages
</p>
<p class="tinfo">
    Coorg and Chikmagalur are the hill stations most sought after by tourists in Karnataka. Blue Lagoon Beach and Ladies
    Beach in Karwar, Malpe Beach, Maravanthe Beach, Om Beach in Gokarna, Murudeshwar Beach, etc., are noteworthy beach
    destinations in Karnataka. In addition, the wildlife sanctuaries in Karnataka, like the Bandipur National Park and
    the Nagarhole National Park, also draw many tourists. There are twenty-one wildlife sanctuaries and five national
    parks in Karnataka. Also, Madikeri in Coorg and Kudremukh are eco-tourism hot spots. The numerous temples in
    Karnataka also invite many tourists all year round.
</p>
<h3><strong>The four divisions of Karnataka tourism</strong></h3>
<p class="tinfo"> Karnataka tourism is divided geographically into four parts: North Karnataka, the Hill
    Stations, Coastal Karnataka, and South Karnataka.
</p>

<article class="tinfo">
    <h3><strong>Karnataka tourism: North Karnataka (Heritage & Pilgrimage)</strong></h3>
    The most popular ones include
    <ul>
        <li>Hampi (UNESCO World Heritage Site)</li>
        <li>Badami</li>
        <li>Aihole</li>
        <li>Mahakuta</li>
        <li>Belagavi (Belgaum)</li>
        <li>Ballari</li>
        <li>Bidar</li>
        <li>Gadag</li>
        <li>Pattadakal</li>
        <li>Gulbarga</li>
        <li>Haveri</li>
        <li>Vijayapura (Bijapur)</li>
        <li>Dharwad</li>
    </ul>
</article>

<article class="tinfo">
    <h3><strong>Karnataka tourism: Hill stations of Karnataka</strong></h3>
    These are a few well-known ones, while many others are less explored.
    <ul>
        <li>Coorg</li>
        <li>Chikmagalur</li>
        <li>Kemmanagundi</li>
        <li>Kudremukh</li>
        <li>Agumbe</li>
    </ul>
</article>

<article class="tinfo">
    <h3><strong>Karnataka tourism: Coastal Karnataka (Beaches & temples)</strong></h3>
    Some of the pristine beaches of Karnataka, among the many others, are
    1. Beaches:
    <ul>
        <li>Gokarna Beach (Gokarna)</li>
        <li>Om Beach (Gokarna)</li>
        <li>Kudle Beach (Gokarna)</li>
        <li>Malpe Beach (Udupi)</li>
        <li>Kaup Beach (Udupi)</li>
        <li>Padubidri Beach (Udupi)</li>
        <li>Mattu Beach (Udupi)</li>
        <li>Maravanthe Beach (Kundapur)</li>
        <li>Ullal Beach (Mangalore)</li>
        <li>Surathkal Beach (Mangalore)</li>
        <li>Murudeshwar Beach (Murudeshwar)</li>
        <li>Devbagh Beach (Karwar)</li>
    </ul>
    2. Temples
    <ul>
        <li> Udupi (Hindu)</li>
        <li> Gokarna (Hindu)</li>
        <li> Sringeri (Hindu)</li>
        <li> Karkala (Hindu & Jain)</li>
        <li> Moodabidre (Hindu & Jain)</li>
        <li> Venur (Jain)</li>
        <li> Dharmastala (Hindu & Jain)</li>
        <li> Kollur (Hindu)</li>
        <li> Murudeshwar (Hindu)</li>
        <li> Kukke Subramanya (Hindu)</li>
        <li> Kateel Durga Parameshwari (Hindu)</li>
    </ul>
</article>


<article class="tinfo">
    <h3><strong>Karnataka tourism: South Karnataka (A unique mix of all)</strong></h3>
    <ul>
        <li>Mysore</li>
        <li>Belur </li>
        <li>Halebidu </li>
        <li>Shravanabelagola </li>
        <li>Srirangapatna </li>
        <li>Melukote </li>
        <li>Talakadu </li>
        <li>Bhadravathi</li>
        <li>Chitradurga</li>
        <li>Devarayana Durga</li>
        <li>Coorg</li>
    </ul>
</article>
{% endblock %}